body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.container {
  padding-top: 70px;
  height: 100vh;
  overflow-y: unset;
}

.mt-3 {
  margin-top: 0;
}
.card {
  margin-top: 10px; /* Réduit l'espace entre les cards */
  padding: 0.5rem; /* Ajuste le padding à l'intérieur des cards */
}

.card-body {
  padding: 0.75rem; /* Réduit un peu plus le padding intérieur de la card */
}
